@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@648;900&display=swap');

body{
    background-image: url('../image/snow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'SBAggroB','Hahmlet', serif;
    text-align: center;
}
.center {
    margin: 7% auto 7% auto;
    width: 70%;
    max-width: 100vw;
    height:auto;
    min-height: 55vh;
    max-height: 60vh;
    border: 5px solid #FFFF00;
    border-radius:10px;
    padding: 10px;
    background-color:rgb(203, 234, 247);
    overflow: auto;
    scroll-behavior: auto;
    justify-items: center;
    display:grid;
    row-gap: 20px;
	text-align: center !important;
    }

footer {

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;

    justify-items: center;

	text-align: center !important;

	color: white;

	background: gray;

}