{% extends 'base.html' %} 
{%block content %}
{% load static %} 
<script type="text/javascript" src={%static 'js/Board_Base.js' %}></script>
<div class="board-container">
    <h2>블랙리스트</h2>
    <p>요주의가 필요한 분들에 대한 리스트:</p>
    <table id="dtBasicExample" class="table table-hover table-bordered table-striped paginated" id="board">
        <thead>
            <tr class='bg-primary'>
                {%for k in keys %}
                <th>{{k}}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for person in persons%}
            <tr id={{person.no}}>
                <td class='bg-success'>{{person.no}}</td>
                <td class='bg-success'>{{person.name}}</td>
                <td class='bg-success'>{{person.kolasid}}</td>
                <td class='bg-success'>{{person.count}}</td>
                <td class='bg-success'> {%for k,v in person.places.items%}
                {%if v%}{{k}}/{%endif%}
                {%endfor%}</td>
                <td class='bg-success'>{{person.detail}}</td>
                {%if person.file%}<td class='bg-success' onclick="window.open('{{person.file.url}}',',')">보기</td>{%endif%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script>
    $('tr').dblclick(function(){
        var id = $(this).attr('id');
        if(id!=undefined)window.open('detail/'+id);
    })
</script>
{%endblock%}