{% extends 'base.html' %} 
{%block content %}
{% load static %} 
<script type="text/javascript" src={%static 'js/Board_Base.js' %}></script>
<div class="board-container">
    <h2>검색결과</h2>
    <p>{{search_keyword}}</p>
    <table class="table table-hover table-bordered table-striped paginated" id="board">
        <thead>
            <tr class='bg-primary'>
                <th>No.</th>
                {%for k in keys %}
                <th>{{k}}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for person in object_list%}
            <tr id={{person.pk}}>
                <td class='bg-success'>{{person.pk}}</td>
                <td class='bg-success'>{{person.name}}</td>
                <td class='bg-success'>{{person.kolasid}}</td>
                <td class='bg-success'>{{person.count}}</td>
                <td class='bg-success'> {%for k,v in person.places.items%}
                {%if v%}{{k}}/{%endif%}
                {%endfor%}</td>
                <td class='bg-success'>{{person.detail}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="btnContent">

        <div class="pagination" id="pagination">페이지 영역</div>

    </div>
    <div class="bottom-button"><button type="button" class="btnbtn-outline-primary btn-lg" onclick="location.href = '/blacklist'" >목록으로</button></div>
</div>
<script>
    $('tr').dblclick(function(){
        var id = $(this).attr('id');
        window.open('detail/'+id);
    })
</script>
{%endblock%}